.heading {
  font-weight: 700;
  text-transform: capitalize;
}

.h1 {
  font-size: calc(1vw + 2rem);
}

.h2 {
  font-size: calc(1vw + 2rem);
}

.h3 {
  font-size: calc(0.5vw + 1.5rem);
}

.h4 {
  font-size: calc(0.5vw + 1rem);
}