/* Pokemon types colors sorted by hue */
.backdrop {
  --pokemon-type-color-dark: hsl(var(--pokemon-type-hue), 30%, 30%);
  --foreground-rgb: 255, 255, 255;

  color: rgb(var(--foreground-rgb));
  background-color: var(--pokemon-type-main, #ddd); /* fallback */
}

.normal {
  --pokemon-type-hue: 30;
  --pokemon-type-main: hsl(var(--pokemon-type-hue), 20%, 60%);
}

.fire {
  --pokemon-type-hue: 5;
  --pokemon-type-main: hsl(var(--pokemon-type-hue), 80%, 50%);
}

.rock {
  --pokemon-type-hue: 15;
  --pokemon-type-main: hsl(var(--pokemon-type-hue), 50%, 50%);
}

.fighting {
  --pokemon-type-hue: 20;
  --pokemon-type-main: hsl(var(--pokemon-type-hue), 80%, 50%);
}

.ground {
  --pokemon-type-hue: 25;
  --pokemon-type-main: hsl(var(--pokemon-type-hue), 50%, 50%);
}

.electric {
  --pokemon-type-hue: 45;
  --pokemon-type-main: hsl(var(--pokemon-type-hue), 100%, 60%);

}

.bug {
  --pokemon-type-hue: 70;
  --pokemon-type-main: hsl(var(--pokemon-type-hue), 70%, 50%);
}

.grass {
  --pokemon-type-hue: 140;
  --pokemon-type-main: hsl(var(--pokemon-type-hue), 50%, 60%);
}

.ice {
  --pokemon-type-hue: 190;
  --pokemon-type-main: hsl(var(--pokemon-type-hue), 60%, 60%);
}

.flying {
  --pokemon-type-hue: 200;
  --pokemon-type-main: hsl(var(--pokemon-type-hue), 80%, 60%);
}

.steel {
  --pokemon-type-hue: 210;
  --pokemon-type-main: hsl(var(--pokemon-type-hue), 30%, 60%);
}

.water {
  --pokemon-type-hue: 220;
  --pokemon-type-main: hsl(var(--pokemon-type-hue), 80%, 60%);
}

.dragon {
  --pokemon-type-hue: 240;
  --pokemon-type-main: hsl(var(--pokemon-type-hue), 40%, 70%);
}

.psychic {
  --pokemon-type-hue: 270;
  --pokemon-type-main: hsl(var(--pokemon-type-hue), 40%, 60%);
}

.ghost {
  --pokemon-type-hue: 280;
  --pokemon-type-main: hsl(var(--pokemon-type-hue), 40%, 60%);
}

.poison {
  --pokemon-type-hue: 310;
  --pokemon-type-main: hsl(var(--pokemon-type-hue), 40%, 60%);
}

.dark {
  --pokemon-type-hue: 320;
  --pokemon-type-main: hsl(var(--pokemon-type-hue), 10%, 50%);
}

.fairy {
  --pokemon-type-hue: 340;
  --pokemon-type-main: hsl(var(--pokemon-type-hue), 60%, 70%);
}
