.wrapper {
  background-color: var(--pokemon-type-main, silver);
  color: white;
}

.header {
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.subheading {
  color: hsl(var(--pokemon-type-hue), 30%, 30%);
}